@model csharp_boolflix.Models.Film

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFilm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFilm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Durata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Durata)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Novità)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Novità)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genere.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
